 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Script</title>
        <script src="static/js/jquery-1.11.3.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <script src="static/js/script.js"></script>

    </head>

    <body>

        <div class="container">


          <div class="jumbotron">
            <h1>Hello Word!!!</h1>
            <p class="lead">This program has been written as the simple of REST service.
            You can show my skills, add skills, edit skills and delete all skills. Let's try!
            </p>

              <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                      <img src="static/img/img.jpg" alt="">
                    </a>
                  </div>
              </div>

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="btn-get">
                          Show skills (GET method)
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                          <div id="answer"></div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Add new skill (POST method)
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                                      <input id="newSkill" type="text" class="form-control" id="exampleInputPassword1" placeholder="Skill">
                                </div>
                              <div class="col-md-2">
                              <button type="button" class="btn btn-success btn-post">Success</button>
                              </div>
                              <div class="col-md-2">
                              <din id="answerPost"></din>
                              </div>
                      </div>
                    </div>
                  </div>
                      </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed btn-edit" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Edit skills (PUT method)
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                          <div class="row">
                          <div class="col-md-6"><div class="col-md-5"  ><textarea id="edit"  name="rules" class="form-control response-area" rows="10" cols="40"></textarea></div></div>
                          <div class="col-md-2"><button type="button btn-post" class="btn btn-success btn-put">Success</button></div>
                              <div class="col-md-2"><div id="answerPut"></div></div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Delete all skills (DELETE method)
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                          Are you sure?
                        <button type="button" class="btn btn-danger btn-del">Delete</button>
                          <div id="delete"></div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>

        </div>


        <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="static/js/bootstrap.js"></script>
    </body>
</html>